@model Zombiecalypse.Models.AdventureViewModel

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<dd>
    <div>
        @if (Model.Character.IsOnAdventure == true && (Model.Character.FinishAdventure <= DateTime.Now || Model.Character.FinishAdventure >= DateTime.MaxValue.AddDays(-1)))
        {
            @Html.ActionLink("Check Adventure", "CheckAdventure", "Adventures", new { id = User.Identity.Name, returnUrl = this.Request.Url }, new { @class = "ActionLinkButton" })
        }

        else if (Model.Character.IsOnAdventure == true && Model.Character.FinishAdventure > DateTime.Now && Model.Character.FinishAdventure < DateTime.MaxValue.AddDays(-1))
        {
            @Html.Action("AdventureCounter", "Adventures", new { AdId = Model.Character.AdventureID, ChId = User.Identity.Name });
        }

        else if (Model.Character.IsOnAdventure == false)
        {


            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#basic">Field</a></li>
                    <li><a data-toggle="tab" href="#desert">Desert</a></li>
                    <li><a data-toggle="tab" href="#pirateisland">Pirate island</a></li>
                </ul>

                <div class="tab-content">
                    <div id="basic" class="tab-pane fade in active">

                        <table id="adventureMap" width="941" height="530" style="background-image: url(/Content/Pictures/Adventures/map.png) ">
                            <tr style="border:solid, black, 1px;">
                                @foreach (var adv in Model.Adventures.Where(x => x.AdventureType == "Base"))
                                {
                                    var linkId = "adventureLink" + adv.AdventureID;
                                    var tableId = "adventureTable" + adv.AdventureID;
                                    var valtozo = "/Adventures/StartAdventure/" + User.Identity.Name + "?AdId=" + adv.AdventureID;

                                    <td style="border:solid, black, 1px;">

                                        @if (Model.Character.AdventureMapState+1 >= adv.AdventureID && Model.Character.Tolerance > 0)
                                        {
                                            <a id=@linkId href=@valtozo><img src="~/Content/Pictures/Adventures/checkPoint.png" />@adv.AdventureID</a>

                                                <table id=@tableId style="background-image: url(/Content/Pictures/table2.png);">
                                                    <tr>
                                                        <td>
                                                            Waiting time:@adv.AdventureWaitingTime
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Rounds: @adv.AdventureSteps
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                           Max zombies: @adv.AdventureMaxZombiesPerRound
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img width="15" height="15" src="~/Content/Pictures/Energy.png" /> @adv.AdventureRequerdEnergy
                                                        </td>
                                                    </tr>
                                                    @foreach (var drop in Model.AdventureDrops)
                                                    {

                                                        <tr>
                                                            @if (drop.AdventureID == adv.AdventureID)
                                                            {
                                                                <td>
                                                                    <img width="30" height="30" src=@drop.Item.ItemPicture />
                                                                </td>
                                                                <td>
                                                                    @drop.Item.ItemName
                                                                </td>
                                                            }
                                                        </tr>
                                                    }
                                                    <tr>
                                                            @if (Model.Character.Tolerance > 0)
                                                            {
                                                            }
                                                            else
                                                            {
                                                                <td><div class="alert-danger"><strong>Not enought tolerance</strong></div></td>
                                                            }
                                                    </tr>
                                                    <tr>
                                                        @foreach (var zombie in Model.PossibleZombies.Where(x=> x.ZombieRank <= adv.AdventureID).Where(x=> x.ZombiePlaceAppear == adv.AdventureType).Where(x=> x.ZombieRank >= adv.AdventureID-2)) {
                                                            <td>
                                                                <img width="20" height="20" src=@zombie.ZombiePicture />
                                                            </td>
                                                        }
                                                    </tr>
                                                </table>
                                        }
                                        else
                                        {
                                            <a id=@linkId><img src="~/Content/Pictures/Adventures/checkPointDisabled.png" />@adv.AdventureID</a>
                                        }

                                    </td>
                                }
                            </tr>
                        </table>





                    </div>



                    <div id="desert" class="tab-pane fade">


                        <table id="adventureMap" width="941" height="530" style="background-image: url(/Content/Pictures/Adventures/map.png) ">
                            <tr style="border:solid, black, 1px;">
                                @foreach (var adv in Model.Adventures.Where(x => x.AdventureType == "Desert"))
                                {
                                    var linkId = "adventureLink" + adv.AdventureID;
                                    var tableId = "adventureTable" + adv.AdventureID;
                                    var valtozo = "/Adventures/StartAdventure/" + User.Identity.Name + "?AdId=" + adv.AdventureID;

                                    <td style="border:solid, black, 1px;">

                                        @if (Model.Character.AdventureMapState >= adv.AdventureID && Model.Character.Tolerance > 0)
                                        {
                                            <a id=@linkId href=@valtozo><img src="~/Content/Pictures/Adventures/checkPoint.png" />@adv.AdventureID</a>

                                                <table id=@tableId style="background-image: url(/Content/Pictures/table2.png);">
                                                    <tr>
                                                        <td>
                                                            @adv.AdventureName
                                                        </td>
                                                        <td>
                                                            @adv.AdventureWaitingTime
                                                        </td>
                                                        <td>
                                                            @adv.AdventureSteps
                                                        </td>
                                                        <td>
                                                            @adv.AdventureRequerdEnergy
                                                        </td>
                                                    </tr>
                                                    @foreach (var drop in Model.AdventureDrops)
                                                    {

                                                        <tr>
                                                            @if (drop.AdventureID == adv.AdventureID)
                                                            {
                                                                <td>
                                                                    <img width="30" height="30" src=@drop.Item.ItemPicture />
                                                                </td>
                                                                <td>
                                                                    @drop.Item.ItemName
                                                                </td>
                                                            }
                                                        </tr>
                                                    }
                                                    <tr>
                                                            @if (Model.Character.Tolerance > 0)
                                                            {
                                                            }
                                                            else
                                                            {
                                                                <td><div class="alert-danger"><strong>Not enought tolerance</strong></div></td>
                                                            }
                                                    </tr>
                                                </table>
                                        }
                                        else
                                        {
                                            <a id=@linkId><img src="~/Content/Pictures/Adventures/checkPointDisabled.png" />@adv.AdventureID</a>
                                        }

                                    </td>
                                }
                            </tr>
                        </table>
                    </div>


                    <div id="pirateisland" class="tab-pane fade">



                        <table id="adventureMap" width="941" height="530" style="background-image: url(/Content/Pictures/Adventures/map.png) ">
                            <tr style="border:solid, black, 1px;">
                                @foreach (var adv in Model.Adventures.Where(x => x.AdventureType == "Pirate"))
                                {
                                    var linkId = "adventureLink" + adv.AdventureID;
                                    var tableId = "adventureTable" + adv.AdventureID;
                                    var valtozo = "/Adventures/StartAdventure/" + User.Identity.Name + "?AdId=" + adv.AdventureID;

                                    <td style="border:solid, black, 1px;">

                                        @if (Model.Character.AdventureMapState + 1 >= adv.AdventureID && Model.Character.Tolerance > 0)
                                        {
                                            <a id=@linkId href=@valtozo><img src="~/Content/Pictures/Adventures/checkPoint.png" />@adv.AdventureID</a>

                                            <table id=@tableId style="background-image: url(/Content/Pictures/table2.png);">
                                                <tr>
                                                    <td>
                                                        @adv.AdventureName
                                                    </td>
                                                    <td>
                                                        @adv.AdventureWaitingTime
                                                    </td>
                                                    <td>
                                                        @adv.AdventureSteps
                                                    </td>
                                                    <td>
                                                        @adv.AdventureRequerdEnergy
                                                    </td>
                                                </tr>
                                                @foreach (var drop in Model.AdventureDrops)
                                                {

                                                    <tr>
                                                        @if (drop.AdventureID == adv.AdventureID)
                                                        {
                                                            <td>
                                                                <img width="30" height="30" src=@drop.Item.ItemPicture />
                                                            </td>
                                                                <td>
                                                                    @drop.Item.ItemName
                                                                </td>
                                                        }
                                                    </tr>
                                                }
                                                <tr>
                                                        @if (Model.Character.Tolerance > 0)
                                                        {
                                                            <td>
                                                                @Html.ActionLink("Start Adventure", "StartAdventure", "Adventures", new { id = User.Identity.Name, AdId = @adv.AdventureID }, new { @class = "ActionLinkButton" })
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td><div class="alert-danger"><strong>Not enought tolerance</strong></div></td>
                                                        }
                                                </tr>
                                            </table>
                                        }
                                        else
                                        {
                                            <a id=@linkId><img src="~/Content/Pictures/Adventures/checkPointDisabled.png" />@adv.AdventureID</a>
                                        }

                                    </td>
                                }
                            </tr>
                        </table>







                    </div>

                </div>

            </div>




        }

    </div>

</dd>

@foreach (var adv in Model.Adventures)
{

    var hoverId = "adventureTable" + adv.AdventureID;
    var aId = "adventureLink" + adv.AdventureID;
    <script>

        $(@aId).hover(function (ev) {
            $(@hoverId).stop(true, true).fadeIn();
        }, function (ev) {
            $(@hoverId).stop(true, true).fadeOut();
        }).mousemove(function (ev) {
            $(@hoverId).css({ left: ev.layerX + 10, top: ev.layerY + 10 });
        });
    </script>


}