@model Zombiecalypse.Models.AdventureViewModel

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
    .selectedZombie {
        background-image: url("/Content/Pictures/button2.png");
        display: inline-block;
        border: 1px solid;
        padding: 3px;
        text-decoration: none;
        border-radius: 4px;
        color: floralwhite;
        border-color: bisque;
    }
</style>


@*<h2>Your adventure</h2>
    @Html.ActionLink("Finish adventure", "StopAdventure", "Adventures", new { id = User.Identity.Name }, null)


    Manage turns: @Html.ActionLink("Manage turn", "ManageTurns", "Adventures", new { id = User.Identity.Name, returnUrl = "/AdventureZombieAttack/" + User.Identity.Name }, null) <br />
    IsYourTurn: @Model.Character.isYourTurn
    <br />*@

@{
    List<int> atadni = new List<int>();
}


<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        @for (int counter = 1; counter <= Model.Adventure.AdventureSteps; counter++)
                        {
                            string id = "step" + counter;
                            <li id=@id role="presentation" class="disabled">
                                <a href="#@id" data-toggle="tab" aria-controls=@id role="tab" title=@id>
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-circle-arrow-right"></i>
                                    </span>
                                </a>
                            </li>
                        }
                        <li id="complete" role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <form role="form">
                    <div class="tab-content">

                        @for (int counter = 1; counter <= Model.Adventure.AdventureSteps; counter++)
                        {
                            string characterimage = "/Content/Pictures/Types/" + Model.Character.CharacterType + ".png";

                            string id = "tabpanelstep" + counter;
                            <div class="tab-pane" role="tabpanel" id=@id>
                                <h3>Round @counter</h3>

                                <h2 align="center">
                                    IT'S @ViewBag.WhosTurn
                                </h2>

                                <table align="center">
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        Tolerance:  @Model.Character.MaxTolerance / @Model.Character.Tolerance <br />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <img src=@characterimage />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Weapons:
                                                        @foreach (var item in Model.Character.Inventory)
                                                        {
                                                            if (item.Item.GetType().Name.Contains("Weapon"))
                                                            {
                                                                if (item.ItemPieces > 0)
                                                                {
                                                                    Weapon weap = Model.Weapons.Where(x => x.ItemID == item.ItemID).FirstOrDefault();

                                                                    string weaponID = "weaponid" + item.ItemID;
                                                                    <table class="table-hover" width="250" cellpadding="10" style="background-image: url(/Content/Pictures/characterDetails.png)">
                                                                        @if (weap.IsRanged == true)
                                                                        {
                                                                            <tr id=@weaponID onclick="myFunction(@counter, @item.InventoryID, true)">
                                                                                <td>
                                                                                    <table>
                                                                                        <tr>
                                                                                            <td><img src=@item.Item.ItemPicture /></td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table>
                                                                                        <tr>
                                                                                            <td>@item.Item.ItemName</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Durability: @item.ItemCurrentDurability / @item.ItemMaxDurability</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Ranged: yes</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><img width="15" height="15" src="~/Content/Pictures/damage.png" /> @weap.WeaponDamage</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>

                                                                            </tr>
                                                                        }
                                                                        else

                                                                        {
                                                                            <tr id=@weaponID onclick="myFunction(@counter, @item.InventoryID, false)">
                                                                                <td>
                                                                                    <table>
                                                                                        <tr>
                                                                                            <td><img src=@item.Item.ItemPicture /></td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table>
                                                                                        <tr>
                                                                                            <td>@item.Item.ItemName</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Durability: @item.ItemCurrentDurability / @item.ItemMaxDurability</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Ranged: no</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><img width="15" height="15" src="~/Content/Pictures/damage.png" /> @weap.WeaponDamage</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>

                                                                        }
                                                                    </table>
                                                                    <br />
                                                                }
                                                            }
                                                        }

                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="500"></td>
                                        <td>
                                            <table align="right">
                                                <tr>

                                                    @foreach (var zombie in Model.ZombiesAttackAdventurer)
                                                    {
                                                        string zombieId = "zombieId" + zombie.ZombieAttackAdventurerID;
                                                        string attackZombieId = "attackZombieId" + zombie.ZombieAttackAdventurerID;
                                                        if (zombie.State == counter)
                                                        {
                                                            atadni.Add(zombie.ZombieAttackAdventurerID);
                                                            <td>

                                                                <table align="right" class="zombieTable2" id=@zombieId>
                                                                    <tr>
                                                                        <td>
                                                                            <img src=@zombie.Zombie.ZombiePicture />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            @zombie.ZombieAttackAdventurerID
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            @zombie.Zombie.ZombieName
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            Life: @zombie.ZombieLife / @zombie.Zombie.ZombieLife
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            Damage: @zombie.Zombie.ZombieDamage
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        @foreach (var item in Model.Character.Inventory)
                                                                        {
                                                                            if (item.Item.GetType().Name.Contains("Weapon"))
                                                                            {
                                                                                if (item.ItemPieces > 0)
                                                                                {
                                                                                    var tdID = "ii" + item.InventoryID + "zi" + zombie.ZombieAttackAdventurerID;
                                                                                    <td style="display:none" id=@tdID>
                                                                                        <table>
                                                                                            <tr>
                                                                                                <td>@Html.ActionLink("Attack 1", "AttackZombie", new { zAAID = Json.Encode(atadni), InvID = item.InventoryID }, new { @class = "ActionLinkButton" })</td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                }
                                                                            }
                                                                        }
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                                <tr>
                                                    @foreach (var item in Model.Character.Inventory)
                                                    {
                                                        if (item.Item.GetType().Name.Contains("Weapon"))
                                                        {
                                                            Weapon weap = Model.Weapons.Where(x => x.ItemID == item.ItemID).FirstOrDefault();
                                                            if (item.ItemPieces > 0 && weap.IsRanged == true)
                                                            {

                                                                var tdID = "ii" + item.InventoryID;
                                                                <td style="display:compact" id=@tdID>
                                                                    <table>
                                                                        <tr>
                                                                            <td>@Html.ActionLink("Attack more", "AttackZombie", new { zAAID = Json.Encode(atadni), InvID = item.InventoryID }, new { @class = "ActionLinkButton" })</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>

                                </table>


                                <ul class="list-inline pull-right">
                                    @*<li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>*@
                                </ul>
                            </div>
                        }
                        <div align="center" class="tab-pane" role="tabpanel" id="tabpanelcomplete">
                            <h3>Complete</h3>
                            <p>You have successfully survived all rounds.</p>


                            <img src="~/Content/Pictures/Adventures/lada1.png" /><br />
                            @Html.ActionLink("Collect reward", "CollectReward", "Adventures", new { AdId = Model.Adventure.AdventureID, ChId = User.Identity.Name }, new { @class = "ActionLinkButton" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    @Html.ActionLink("Escape from adventure", "StopAdventure", "Adventures", new { CAdId = Model.Adventure.AdventureID, ChId = Model.Character.CharacterID, returnUrl = this.Request.Url }, new { @class = "ActionLinkButton" })

</div>
<br />



@for (var i = 1; i <= Model.Adventure.AdventureSteps; i++)
{
    string name = "tabpanelstep" + i;
    int j = i + 1;
    string nameplus = "tabpanelstep" + j;

    <script>
        @*console.log("Model.Adventure.AdventureSteps: " +@Model.Adventure.AdventureSteps);
        console.log("counter:" +@i);*@


        $(document).ready(function () {

            if (@Model.ZombiesAttackAdventurer.Where(x => x.State == 1).Count() > 0) {
                $(document.getElementById("tabpanelstep1")).addClass("active");
                $(document.getElementById("step1")).addClass('active');
                $(document.getElementById("step1")).removeClass('disabled');
                console.log("eleje: step:" +@i);
            }
            if (@Model.ZombiesAttackAdventurer.Where(x => x.State == j).Count() > 0 && @Model.ZombiesAttackAdventurer.Where(x => x.State == i).Count() == 0) {
                $(document.getElementById("tabpanelstep"+@j )).addClass("active");

                $(document.getElementById("step"+@i)).addClass('disabled');
                $(document.getElementById("step"+@i)).removeClass('active');
                $(document.getElementById("step"+@j)).addClass('active');
                $(document.getElementById("step"+@j)).removeClass('disabled');
                console.log("koztes: step: " +@j);
            }

            if(@Model.ZombiesAttackAdventurer.Where(x => x.State == Model.Adventure.AdventureSteps).Count() > 0 == 0){
                $(document.getElementById("tabpanelcomplete")).addClass("active");

                $(document.getElementById(@Model.Adventure.AdventureSteps-1)).addClass('disabled');
                $(document.getElementById(@Model.Adventure.AdventureSteps-1)).removeClass('active');
                $(document.getElementById("complete")).addClass('active');
                $(document.getElementById("complete")).removeClass('disabled');
                console.log("complte: " +@i)

            }


            var $active = $('.wizard .nav-tabs li.active');

            //$active.addClass("disabled");

            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                var $target = $(e.target);

                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                //$active.addClass("disabled");
                $active.next().removeClass('disabled');
                nextTab($active);

            });
            $(".prev-step").click(function (e) {
                var $active = $('.wizard .nav-tabs li.active');
                prevTab($active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }
        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }


    </script>


    <script>
        var zombies = [];
    </script>

    for (var a = 0; a < Model.ZombiesAttackAdventurer.Count; a++)
    {
        if (Model.ZombiesAttackAdventurer[a].State == Model.Character.AdventureState)
        {
            <script>
                var zombie = @Model.ZombiesAttackAdventurer[a].ZombieAttackAdventurerID;;
                zombies.push(zombie);
            </script>
        }
    }

    if (@Model.Character.AdventureState <= Model.Adventure.AdventureSteps)
    {
        <script>

            function myFunction(counter, invId, isRanged){

                for (var szam = 0; szam < zombies.length; szam++) {

                    var id = "ii" + invId + "zi" + zombies[szam];
                    var zombieId = "zombieId" + zombies[szam];

                    $(document.getElementById(zombieId).style.border = "");
                    $(document.getElementById(id).style.display = 'none');
                    $(document.getElementById(zombieId).classList = "zombieTable2");
                }


                if (isRanged == false) {

                    var fistZombie = @Model.ZombiesAttackAdventurer.Where(x => x.State == Model.Character.AdventureState).FirstOrDefault().ZombieAttackAdventurerID;

                    var id = "ii"+invId+"zi" +fistZombie;
                    var zombieId = "zombieId" +fistZombie;

                    $(document.getElementById(zombieId).style.border = "solid red 1px");
                    $(document.getElementById(id).style.display = 'inline-block');
                    $(document.getElementById(zombieId).classList = "selectedZombie");

                }

                else if (isRanged == true) {

                    for (var szam = 0; szam < zombies.length; szam++){

                        var id = "ii"+invId;
                        var zombieId = "zombieId" +zombies[szam];


                        $(document.getElementById(zombieId).style.border = "solid red 1px");
                        $(document.getElementById(zombieId).classList = "selectedZombie");
                    }
                }
                else{
                    console.log("error");
                }

            };

        </script>


    }


}
