@model Zombiecalypse.Models.Adventure

@{
    ViewBag.Title = "StopAdventure";
}


<h2>StopAdventure</h2>

<div>
    <h4>Adventure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdventureName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdventureName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdventureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdventureTime)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdventureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>



