@model Zombiecalypse.Models.ZombieAttackAdventurer2


@{
    ViewBag.Title = "ZombieAttackAdventurer";
}

<h2>ZombieAttackAdventurer</h2>

ZAB id : @Model.ZombieAttackAdventurer.ZombieAttackAdventurerID <br />
zombie Id @Model.Zombie.ZombieID <br />
attack power: @ViewBag.attackPower <br />

tolerance: @Model.Character.Tolerance / @Model.Character.MaxTolerance <br />

