@model IEnumerable<Zombiecalypse.Models.Weapon>

@{
    ViewBag.Title = "Weapons";
}

<h2>Weapons</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeaponID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeaponDurability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeaponDamage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemType)
        </td>
        <td>
            <img src= @item.ItemPicture />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeaponID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeaponDurability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeaponDamage)
        </td>
        <td>


            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @if (@item.ItemType == "craftableWeapon")
            {
                @Html.ActionLink("Details", "Details", "CraftableWeapons", new { id = item.ItemID }, null)
            }
            else
            {
                @Html.ActionLink("Details", "Details", new { id = item.ItemID })
            }
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
