@model Zombiecalypse.Models.CharacterDetailsViewModel

@{
    ViewBag.Title = "CharacterDetails";
    var houseID = @Model.CharacterItems.Where(x => x.Item.ItemName == "House").FirstOrDefault().ItemID;
    var garageID = @Model.CharacterItems.Where(x => x.Item.ItemName == "Garage").FirstOrDefault().ItemID;
}



<h2>@Model.CharacterName</h2>
<br>
<br>
@Html.ActionLink("Start Zombie Attack", "StartAttack", "Zombies", new { ChId = @Model.CharacterID, ZombId = 1 }, null)
<br />
<br />
@Html.ActionLink("Shop", "Index", "Shop")
<br />
<br />
<div>
    <h4>CharacterDetails</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        <dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterLevel)
        <dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterXP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterXP)
        <dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharacterMoney)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterMoney)
        <dd>
        <dt>
            NeededToNextLevel
        </dt>
        <dd>
            @ViewData["NeededXPToNextLevel"]
        <dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterNextLevelXP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterNextLevelXP)
        <dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxEnergy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxEnergy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentEnergy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentEnergy)
        </dd>
        <dd>
            @Html.ActionLink("Add to energy", "AddToEnergy", "Characters", new { id = Model.CharacterID }, null)
        </dd>
        <dd>
            @Html.ActionLink("Add field", "AddField", "Inventories", new { id = Model.CharacterID }, null)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.CharacterType)
        </dt>

        @if (@Model.CharacterType == 1)
        {
            <dd>
                <img src="~/Content/Pictures/Types/Type_1.png" />
            </dd>
        }
        else if (@Model.CharacterType == 2)
        {
            <dd>
                <img src="~/Content/Pictures/Types/Type_2.png" />
            </dd>
        }
        else if (@Model.CharacterType == 3)
        {
            <dd>
                <img src="~/Content/Pictures/Types/Type_3.png" />
            </dd>
        }
        else if (@Model.CharacterType == 4)
        {
            <dd>
                <img src="~/Content/Pictures/Types/Type_4.png" />
            </dd>
        }
        else if (@Model.CharacterType == 5)
        {
            <dd>
                <img src="~/Content/Pictures/Types/Type_5.png" />
            </dd>
        }

        </br>
        </br>
        <dt>
            Base:

        </dt>
        
        <dd>
            <img width=700 usemap="#map" height="450" src=@ViewBag.Picture />
            <map name="map">
                <area shape="rect" coords="0,0,250,200" alt="House" href="~/Buildings/Details/@houseID">
                <area shape="rect" coords="250,0,500,200" alt="Garage" href="~/Buildings/Details/@garageID">
            </map>
            <div align="center">
                <img usemap="#map" border="1" />
            </div>
        </dd>
        </br>
        </br>

        <br />
        <br />
        <br />
        <br />
        <dt>You are attacked by:</dt>
        <dd>
            <table class="table">
                <tr>
                    <th></th>
                    <th></th>
                    <th>ZombieID</th>
                    <th>Zombie name</th>
                    <th>Attack started</th>
                    <th>Zombie life</th>
                    <th>Zombie damage</th>
                </tr>
                @foreach (var zombies in Model.AttackingZombies)
                {
                    <tr>
                        <td>
                            <img src=@zombies.Zombie.ZombiePicture />
                        </td>

                        <td>
                            @zombies.ZombieAttackBaseID
                        </td>
                        <td>
                            @zombies.ZombieID
                        </td>
                        <td>
                            @zombies.Zombie.ZombieName
                        </td>
                        <td>
                            @zombies.ZombieAttackStart
                        </td>
                        <td>
                            @zombies.ZombieLife
                        </td>
                        <td>
                            @zombies.Zombie.ZombieDamage
                        </td>
                        <td>
                            @Html.ActionLink("Attack zombie", "BaseDefenseFromZombie", "Zombies", new { ZabID = @zombies.ZombieAttackBaseID, AttackPower = 0, InvID = 0 }, null)
                        </td>
                        <td>
                            @Html.ActionLink("Zombie attack", "ZombieAttackBase", "Zombies", new { ZabID = @zombies.ZombieAttackBaseID }, null)
                        </td>
                    </tr>
                }

            </table>
        </dd>
        <br />
        <br />
        <br />
        <dd>
        <dt>Items:</dt>
        <table class="table">
            <tr>
                <th>InventoryID</th>
                <th>ItemID</th>
                <th>ItemName</th>
                <th>ItemPieces</th>
            </tr>
            @foreach (var item in Model.CharacterItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.ItemID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemPieces)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.ItemType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.ItemDurability)
                    </td>

                    <td>
                        @Html.ActionLink("AddToItem", "AddToItem", "Inventories", new { id = item.InventoryID }, null)
                    </td>
                    <td>
                        @Html.ActionLink("LevelUpBuilding", "LevelUpBuilding", "Inventories", new { id = item.InventoryID }, null)
                    </td>
                </tr>
            }

        </table>
        </dd>
        <h4>Fields</h4>
        <dd>
            <table class="table">
                <tr>
                    <td></td>
                    <td>PlantID</td>
                    <td>ID</td>
                    <td>Name</td>
                    <td>IsFieldEmpty</td>
                    <td>IsGrowenUp</td>
                </tr>
                @foreach (var field in Model.CharacterItems)
                {
                    if (field.Item.ItemType == "field")
                    {
                        if (field.PlantField.IsFieldEmpty == true)
                        {
                            <tr>
                                <td><img src=@field.Item.ItemPicture /></td>
                                <td>@field.PlantField.PlantID</td>
                                <td>@field.ItemID</td>
                                <td>@field.Item.ItemName</td>
                                <td>@field.PlantField.IsFieldEmpty</td>
                                <td>@Html.ActionLink("Plant on field", "ChoosePlantOnField", "Inventories", new { id = @field.InventoryID }, null)</td>


                            </tr>
                        }
                        else if (field.PlantField.IsFieldEmpty == false)
                        {
                            <tr>
                                @if (@field.isFinished == true)
                                {
                                    <td><img src=@field.PlantField.Plant.PlantFinishedPicture /></td>
                                }
                                else
                                {
                                    <td><img src=@field.PlantField.Plant.ItemPicture /></td>
                                }

                                <td>@field.PlantField.PlantID</td>
                                <td>@field.ItemID</td>
                                <td>@field.PlantField.Plant.ItemName</td>
                                <td>@field.PlantField.IsFieldEmpty</td>
                                <td>@field.isFinished</td>

                                <td>@Html.ActionLink("Grow up plant", "GrowUpPlant", "Inventories", new { invID = @field.InventoryID }, null)</td>
                                <td>@Html.ActionLink("Harvest field", "HarvestField", "Inventories", new { invID = @field.InventoryID }, null)</td>
                            </tr>
                        }

                    }
                }

            </table>

        </dd>
        <h4>Items</h4>
        <dd>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Pieces</th>
                    <th>Type</th>
                </tr>
                @foreach (var inventory in Model.CharacterItems)
                {

                    if (@inventory.Item.ItemType == "item")
                    {
                        <tr>
                            <td>
                                @inventory.ItemID
                            </td>
                            <td>
                                @inventory.Item.ItemName
                            </td>
                            <td>
                                @inventory.ItemPieces
                            </td>
                            <td>
                                @inventory.Item.ItemType
                            </td>
                            <td>
                                @inventory.Item.ItemPicture
                            </td>
                        </tr>
                    }
                }

            </table>
        </dd>
        <h4>Buildings</h4>
        <dd>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Pieces</th>
                    <th>Level</th>
                    <th>Type</th>
                </tr>
                @foreach (var inventory in Model.CharacterItems)
                {

                    if (@inventory.Item.ItemType == "building" && (@inventory.Building.BuildingLevel != 0))
                    {
                        <tr>
                            <td>
                                @inventory.ItemID
                            </td>
                            <td>
                                @inventory.Item.ItemName
                            </td>
                            <td>
                                @inventory.ItemPieces
                            </td>
                            <td>
                                @inventory.Building.BuildingLevel
                            </td>
                            <td>
                                @inventory.Item.ItemType
                            </td>
                            <td>
                                <img src="@inventory.Item.ItemPicture" />

                            </td>
                            <td>
                                @Html.ActionLink("Level up building", "LevelUpBuilding", "Inventories", new { id = inventory.InventoryID }, null)

                            </td>
                            @foreach (var item in inventory.Building.BuildingMaterials)
                            {
                            <tr>
                                <td>

                                    @item.BuildingBuildingMaterials
                                </td>
                            </tr>
                            }

                            </tr>
                    }
                }

            </table>
        </dd>
        <br />

        <h4>Buildable buildings</h4>
        <dd>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Pieces</th>
                    <th>Level</th>
                    <th>Type</th>
                </tr>
                @foreach (var inventory in Model.CharacterItems)
                    {

                        if (@inventory.Item.ItemType == "building" && (@inventory.Building.BuildingLevel == 0))
                        {
                            <tr>
                                <td>
                                    @inventory.ItemID
                                </td>
                                <td>
                                    @inventory.Item.ItemName
                                </td>
                                <td>
                                    @inventory.ItemPieces
                                </td>
                                <td>
                                    @inventory.Building.BuildingLevel
                                </td>
                                <td>
                                    @inventory.ItemCurrentDurability
                                </td>
                                <td>
                                    @inventory.Item.ItemType
                                </td>
                                <td>
                                    <img src="@inventory.Item.ItemPicture" />

                                </td>
                                <td>
                                    @Html.ActionLink("Build " + @inventory.Item.ItemName, "LevelUpBuilding", "Inventories", new { id = inventory.InventoryID }, null)

                                </td>
                                @foreach (var item in inventory.Building.BuildingMaterials)
                                {
                                <tr>
                                    <td>

                                        @item.BuildingBuildingMaterials
                                    </td>
                                </tr>
                                }

                                </tr>
                        }
                    }

            </table>
        </dd>
        <br />
        <h4>Building materials</h4>

        <dd>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Pieces</th>
                    <th>Type</th>
                </tr>
                @foreach (var inventory in Model.CharacterItems)
                    {

                        if (@inventory.Item.ItemType == "buildingmaterial")
                        {
                            <tr>
                                <td>
                                    @inventory.ItemID
                                </td>
                                <td>
                                    @inventory.Item.ItemName
                                </td>
                                <td>
                                    @inventory.ItemPieces
                                </td>
                                <td>
                                    @inventory.Item.ItemType
                                </td>
                            </tr>
                        }
                    }
            </table>
        </dd>

        <h4>Weapons</h4>
        <dd>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Pieces</th>
                    <th>Type</th>
                    <th>Durability</th>
                </tr>
                @foreach (var inventory in Model.CharacterItems)
                    {

                        if (inventory.Item.ItemType == "craftableWeapon" || inventory.Item.ItemType == "buyableWeapon")
                        {
                            <tr>
                                <td>
                                    @inventory.ItemID
                                </td>
                                <td>
                                    @inventory.Item.ItemName
                                </td>
                                <td>
                                    @inventory.ItemPieces
                                </td>
                                <td>
                                    @inventory.Item.ItemType
                                </td>
                                <td>
                                    @if (inventory.ItemCurrentDurability == 999)
                                    {
                                        <html>
                                        &#8734
                                    </html>
                                    }
                                    else
                                    {
                                        @inventory.ItemCurrentDurability
                                    }
                                </td>
                                <td>
                                    <img src=@inventory.Item.ItemPicture />

                                </td>

                            </tr>
                        }
                    }
            </table>
        </dd>
        <br />
        <br />



        <br />
        <br />


        <h4>Adventures</h4>
        <dd>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Pieces</th>
                    <th>Type</th>
                </tr>
                @foreach (var adv in Model.Adventures)
                {
                    <tr>
                        <td>
                            @adv.AdventureID
                        </td>
                        <td>
                            @adv.AdventureName
                        </td>
                        <td>
                            @adv.AdventureTime
                        </td>
                        <td>
                            @Html.ActionLink("Start Adventure", "StartAdventure", "Adventures", new { AdId = @adv.AdventureID, ChId = Model.CharacterID }, null)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
