@model Zombiecalypse.Models.CharacterDetailsViewModel

<style>
    a > img:hover {
        background-image: url("/Content/Pictures/button2.png");
        display: inline-block;
        border: 1px solid;
        padding: 3px;
        text-decoration: none;
        border-radius: 4px;
        color: floralwhite;
        border-color: bisque;
    }
</style>


@{
    var EnergyValue = ((Model.Character.CurrentEnergy * 100) / Model.Character.MaxEnergy);
    var XPValue = ((Model.Character.CharacterXP * 100) / Model.CharacterNextLevelXP);

    var FenceValue = 0;
    var counter = 0;
    var image = "/Content/Pictures/Types/" + Model.Character.CharacterType + ".png";
}


@if (Model.Fence.ItemCurrentDurability > 0 && Model.Fence.ItemMaxDurability > 0)
{
    FenceValue = ((Model.Fence.ItemCurrentDurability * 100) / Model.Fence.ItemMaxDurability);
}

<h2>@Model.Character.CharacterName</h2>


<h1 class="FoodCounter"><img src="~/Content/Pictures/Food.png" />@Model.Character.CharacterFood</h1>



<div class="container">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#characterDetails">Character details</a></li>
        <li class="active"><a data-toggle="tab" href="#buildings">Buildings</a></li>
        <li><a data-toggle="tab" href="#items">Items</a></li>
        <li><a data-toggle="tab" href="#missions">Missions</a></li>

    </ul>

    <div class="tab-content">
        <div id="characterDetails" class="tab-pane">
            <br /><br />
            <table class="characterDetails" border="0" width="1000">
                <tr>

                    <td>
                        <img src=@image />
                    </td>
                   

                    <td>
                        <table>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Character.CharacterName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Character.CharacterName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Character.CharacterLevel)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Character.CharacterLevel)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Character.Tolerance)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Character.Tolerance) / @Html.DisplayFor(model => model.Character.MaxTolerance)
                                </td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>
                                    <meta charset="utf-8">
                                    <meta name="viewport" content="width=30%, initial-scale=1">
                                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


                                    <div class="container" style="width:300px;">
                                        <div class="rating-num">
                                            @Model.Character.MaxEnergy/@Model.Character.CurrentEnergy
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@EnergyValue" aria-valuemin="0" aria-valuemax="100" style="width:@EnergyValue%"></div>
                                            </div><img width="25" , height="25" src="~/Content/Pictures/Energy.png" />
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <meta charset="utf-8">
                                    <meta name="viewport" content="30%, initial-scale=1">
                                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                                    <div class="container" style="width:300px;">
                                        <div class="rating-num">
                                            @Model.CharacterNextLevelXP/@Model.Character.CharacterXP
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@XPValue" aria-valuemin="0" aria-valuemax="100" style="width:@XPValue%">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Character.CharacterXP)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Character.CharacterXP)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Character.CharacterMoney)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Character.CharacterMoney) <img src="~/Content/Pictures/Coin.png" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Character.CharacterFood)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Character.CharacterFood) <img width="25" height="25" src="~/Content/Pictures/Food.png" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div align="center" id="buildings"  class="tab-pane fade in active">
            <br /><br />
    

            <table align="center" id="baseTable" width="800" height="600" style="background-image: url(../../Content/Pictures/Base/base_background.jpg)">
                <tr>
                    <td>
                        <table align="center">
                            <tr>
                                @foreach (var building in Model.CharacterBuildings)
                                {
                                    if (building.ItemName != "Fence")
                                    {
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="~/Buildings/Details/@building.ItemID"><img width="150" src=@building.ItemPicture /></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @building.ItemName
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @building.BuildingLevel
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    }
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center">
                            <tr>
                                @foreach (var field in Model.CharacterFields)
                                {

                                    if (field.IsEmpty == true)
                                    {
                                        <td style="padding-right:50px">
                                            <table class="zombieTable">
                                                <tr>
                                                   <td>
                                                       <a href=""><img width="100" src="~/Content/Pictures/Fields/FieldEmpty.png" /></a>
                                                    </td>
                                                    @*<td><img src="~/Content/Pictures/Fields/FieldEmpty.png" /></td>*@
                                                </tr>
                                                <tr>
                                                    <td>field is empty</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.ActionLink("Choose a plant", "ChoosePlantOnField", "Gathering", new { id = @field.CharacterFieldID, returnUrl = this.Request.Url }, new { @class = "ActionLinkButton" })</td>
                                                </tr>
                                            </table>
                                        </td>
                                    }
                                    else
                                    {
                                        foreach (var plant in Model.Plants)
                                        {
                                            if (field.PlantID == plant.ItemID)
                                            {
                                                <td style="padding-right:50px">
                                                    <table>
                                                        @if (@field.isFinished == true)
                                                        {
                                                            <tr>
                                                                <td><img width="100" src=@plant.PlantFinishedPicture /></td>
                                                            </tr>
                                                            <tr>
                                                                <td>@field.PlantID</td>
                                                            </tr>
                                                            <tr>
                                                                <td>@plant.ItemName</td>
                                                            </tr>
                                                            <tr>
                                                                <td>@plant.PlantGrowTime</td>
                                                            </tr>
                                                            <tr>
                                                                <td>@Html.ActionLink("Harvest field", "HarvestField", "Gathering", new { fieldID = @field.CharacterFieldID, plantID = @field.PlantID, returnUrl = this.Request.Url }, new { @class = "ActionLinkButton" })</td>
                                                            </tr>
                                                        }
                                                        else if (@field.isFinished == false) {

                                                        var fieldName = "field" + field.CharacterFieldID;

                                                            <tr>
                                                                <td><img  width="100" src=@plant.ItemPicture /></td>
                                                            </tr>
                                                            <tr>
                                                                <td>@field.PlantID</td>
                                                            </tr>
                                                            <tr>
                                                                <td>@plant.ItemName</td>
                                                            </tr>
                                                            <tr>
                                                                <td id=@fieldName>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </td>
                                            }
                                        }
                                    }
                                }
                            </tr>
                        </table>
                    </td>
                </tr>

        
            </table>

            <table width="600" height="150" style="background-image:url(@Model.Fence.Item.ItemPicture); background-repeat: no-repeat, no-repeat; background-size: cover">
                <tr>
                    <td>
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=30%, initial-scale=1">
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                        <div class="container" style="width:300px;">
                            <div class="rating-num">
                                @Model.Fence.ItemCurrentDurability/@Model.Fence.ItemMaxDurability
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@Model.Fence.ItemMaxDurability" aria-valuemin="0" aria-valuemax="100" style="width:@FenceValue%"></div>
                                </div>
                            </div>
                            <table>
                                <tr>
                                    <td><img width="25" , height="25" src="~/Content/Pictures/Energy.png" />: @Model.CharacterBuildings.Where(x => x.ItemName == "Fence").FirstOrDefault().BuildingEnergyCost;</td>
                                </tr>
                                <tr>
                                    <td><img width="25" , height="25" src="~/Content/Pictures/Coin.png" />: @Model.CharacterBuildings.Where(x => x.ItemName == "Fence").FirstOrDefault().BuildingMoneyCost;</td>
                                </tr>
                            </table>

                        </div>

                        @if (Model.Character.IsOnAdventure == true)
                        {
                            <div class="alert alert-danger">
                                <strong>You are on adventure!</strong>
                            </div>
                        }
                        else
                        {
                            if (Model.Fence.ItemCurrentDurability < Model.Fence.ItemMaxDurability)
                            {
                                @Html.ActionLink("Repair", "RepairFence", "Buildings", new { id = User.Identity.Name, returnUrl = this.Request.Url }, new { @class = "ActionLinkButton" })
                            }
                            else if (Model.Fence.ItemMaxDurability == 0)
                            {
                                @Html.ActionLink("Level up", "LevelUpFence", "Inventories", new { id = Model.Fence.InventoryID, returnUrl = this.Request.Url }, new { @class = "ActionLinkButton" })
                            }
                            else {

                            }
                        }


                    </td>
                </tr>
            </table>





            <h3>You are attacked by:</h3>
            <div>
                <table align="center" cellpadding="100">
                    <tr>
                        @foreach (var zombies in Model.ZombieAttackBase)
                        {
                            foreach (var z in Model.ZombiesDB)
                            {
                                if (zombies.ZombieID == z.ZombieID)
                                {
                                    <td>
                                        <table class="zombieTable">
                                            <tr>
                                                <td>
                                                    @zombies.ZombieAttackBaseID
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src=@z.ZombiePicture />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @z.ZombieName zombie
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img width="25" height="25" src="~/Content/Pictures/life.png" />:    @zombies.ZombieLife/@z.ZombieLife

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img width="25" height="25" src="~/Content/Pictures/damage.png" />: @z.ZombieDamage
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    @if (Model.Character.CurrentEnergy > 0)
                                                    {
                                                        @Html.ActionLink("Attack zombie", "BaseDefenseFromZombie", "Zombies", new { ZabID = @zombies.ZombieAttackBaseID, AttackPower = 0, InvID = 0 }, new { @class = "ActionLinkButton" })

                                                    }
                                                    else
                                                    {
                                                        <div class="alert alert-danger">
                                                            <strong>Not enought energy</strong>
                                                        </div>
                                                    }
                                                </td>
                                            </tr>

                                            @*<tr>
                                                <td>
                                                    @Html.ActionLink("Zombie attack", "ZombieAttackBase", "Zombies", new { ZabID = @zombies.ZombieAttackBaseID }, new { @class = "ActionLinkButton" })
                                                </td>
                                            </tr>*@
                                        </table>
                                    </td>
                                }

                            }

                        }
                    </tr>
                </table>
            </div>

        </div>


        <div id="items" class="tab-pane fade">
            <h3>Inventory</h3>
            <br />


            <div><h4>Plants</h4></div>
            <table class="characterDetailItems2">
                <tr>
                    @foreach (var item in Model.Character.Inventory)
                    {
                        if ((item.ItemID > 24 && item.ItemID <= 30 && item.ItemPieces > 0))
                        {
                            <td>
                                <table class="characterDetailItems">

                                    <tr>
                                        <td><img width="75" height="75" src=@item.Item.ItemPicture /></td>
                                    </tr>

                                    <tr>
                                        <td>@item.Item.ItemName</td>
                                    </tr>
                                    <tr>
                                        <td>pieces: @item.ItemPieces</td>
                                    </tr>
                                    @if (item.ItemMaxDurability > 0)
                    {
                                        <tr>
                                            <td>durability: @item.ItemMaxDurability/@item.ItemCurrentDurability</td>
                                        </tr>

                                    }
                                    @{counter = counter + 1;}
                                </table>
                            </td>
                                        if (counter % 10 == 0)
                                        {
                                        <tr></tr>
                                                }
                                            }

                                        }
                    </tr>
                </table>


                <div><h4>Materials</h4></div>
                <table class="characterDetailItems2">
                    <tr>
                        @foreach (var item in Model.Character.Inventory)
                        {
                            if ((item.ItemID >= 34 && item.ItemID <= 53 && item.ItemPieces > 0))
                            {
                                <td>
                                    <table class="characterDetailItems">

                                        <tr>
                                            <td><img width="75" height="75" src=@item.Item.ItemPicture /></td>
                                        </tr>

                                        <tr>
                                            <td>@item.Item.ItemName</td>
                                        </tr>
                                        <tr>
                                            <td>pieces: @item.ItemPieces</td>
                                        </tr>
                                        @if (item.ItemMaxDurability > 0)
                    {
                                            <tr>
                                                <td>durability: @item.ItemMaxDurability/@item.ItemCurrentDurability</td>
                                            </tr>

                                        }
                                        @{counter = counter + 1;}
                                    </table>
                                </td>
                                            if (counter % 10 == 0)
                                            {
                                            <tr></tr>
                                                    }
                                                }

                                            }
                        </tr>
                    </table>


                    <div><h4>Building materials</h4></div>
                    <table class="characterDetailItems2">
                        <tr>
                            @foreach (var item in Model.Character.Inventory)
                            {
                                if ((item.ItemID >= 54 && item.ItemID <= 58 && item.ItemPieces > 0))
                                {
                                    <td>
                                        <table class="characterDetailItems">

                                            <tr>
                                                <td><img width="75" height="75" src=@item.Item.ItemPicture /></td>
                                            </tr>

                                            <tr>
                                                <td>@item.Item.ItemName</td>
                                            </tr>
                                            <tr>
                                                <td>pieces: @item.ItemPieces</td>
                                            </tr>
                                            @if (item.ItemMaxDurability > 0)
                    {
                                                <tr>
                                                    <td>durability: @item.ItemMaxDurability/@item.ItemCurrentDurability</td>
                                                </tr>

                                            }
                                            @{counter = counter + 1;}
                                        </table>
                                    </td>
                                                if (counter % 10 == 0)
                                                {
                                                <tr></tr>
                                                        }
                                                    }

                                                }
                            </tr>
                        </table>




                        <div><h4>Weapons</h4></div>
                        <table class="characterDetailItems2">
                            <tr>
                                @foreach (var item in Model.Character.Inventory)
                                {
                                    foreach (var weap in Model.Weapons)
                                    {
                                        if ((weap.ItemID == item.ItemID && (item.ItemID >= 59 && item.ItemID <= 78 && item.ItemPieces > 0)))
                                        {
                                        <td>
                                            <table class="characterDetailItems">

                                                <tr>
                                                    <td><img width="75" height="75" src=@item.Item.ItemPicture /></td>
                                                </tr>

                                                <tr>
                                                    <td>@item.Item.ItemName</td>
                                                </tr>
                                                <tr>
                                                    <td>pieces: @item.ItemPieces</td>
                                                </tr>
                                                @if (item.ItemMaxDurability > 0)
                                                {
                                                    <tr>
                                                        <td>durability: @item.ItemMaxDurability/@item.ItemCurrentDurability</td>
                                                    </tr>

                                                }
                                                <tr>
                                                    <td>damage: @weap.WeaponDamage</td>
                                                </tr>

                                                @{counter = counter + 1;}
                                            </table>
                                        </td>
                                                    if (counter % 10 == 0)
                                                    {
                                                    <tr></tr>
                                                                }
                                                            }

                                                        }
                                                    }
                                </tr>
                            </table>



                            <div><h4>Energy packs</h4></div>
                            <table class="characterDetailItems2">
                                <tr>
                                    @foreach (var energypack in Model.EnergyPacks)
                                    {
                                        foreach (var item in Model.Character.Inventory)
                                        {
                                            if ((item.ItemID == energypack.ItemID && item.ItemID >= 79 && item.ItemID <= 81 && item.ItemPieces > 0))
                                            {
                                                <td>
                                                    <table class="characterDetailItems">

                                                        <tr>
                                                            <td><img width="75" height="75" src=@item.Item.ItemPicture /></td>
                                                        </tr>

                                                        <tr>
                                                            <td>@item.Item.ItemName</td>
                                                        </tr>
                                                        <tr>
                                                            <td>pieces: @item.ItemPieces</td>
                                                        </tr>
                                                        <tr>
                                                            <td>+@energypack.PlusEnergy <img width="25" height="25" src="~/Content/Pictures/Energy.png" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Html.ActionLink("Use", "UseEnergyPacks", "Characters", new { itemId = item.Item.ItemID, returnUrl = this.Request.Url }, new { @class = "ActionLinkButton" });
                                                            </td>
                                                        </tr>
                                                        @{counter = counter + 1;}
                                                    </table>
                                                </td>
                                                            if (counter % 10 == 0)
                                                            {
                                                            <tr></tr>
                                                                        }
                                                                    }

                                                                }
                                                            }
                                    </tr>
                                </table>
                        </div>
