@model IEnumerable<Zombiecalypse.Models.Character>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxEnergy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentEnergy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterFood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterXP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOnAdventure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdventureID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdventureState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishAdventure)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxEnergy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentEnergy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterFood)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterXP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOnAdventure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdventureID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdventureState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishAdventure)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CharacterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CharacterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CharacterID })
        </td>
    </tr>
}

</table>
