@model IEnumerable<Zombiecalypse.Models.BuildingBuildingMaterial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuildingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingMaterialID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialPieces)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingMaterialID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialPieces)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuildingBuildingMaterialID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BuildingBuildingMaterialID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BuildingBuildingMaterialID })
        </td>
    </tr>
}

</table>
