@model ViewModelBase
<!DOCTYPE html>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/MyStyle.css")

    <style>
        body, html {
            height: 100%;
        }

        body {
            background-image: url("../../Content/Pictures/background4.png");
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        int MaxEv = DateTime.MaxValue.Year - 1;
                        <li>@Html.ActionLink("Character base", "Details", "Characters", new { id = @HttpContext.Current.User.Identity.Name }, null)</li>
                        <li>@Html.ActionLink("Shop", "Index", "Shop")</li>
                        if (Model.Character.IsOnAdventure == true && (Model.Character.FinishAdventure <= DateTime.Now || Model.Character.FinishAdventure.Year > MaxEv))
                        {
                            <li>@Html.ActionLink("Adventure", "OnAdventure", "Adventures", new { id = User.Identity.Name }, null)</li>
                        }
                        if (Model.Character.IsOnAdventure == true && (Model.Character.FinishAdventure > DateTime.Now && Model.Character.FinishAdventure < DateTime.MaxValue.AddYears(-1)))
                        {
                            <li>@Html.ActionLink("Adventure", "AdventureCounter", "Adventures", new { id = User.Identity.Name }, null)</li>
                        }
                        else if (Model.Character.IsOnAdventure == false)
                        {
                            <li>@Html.ActionLink("Adventure", "Index", "Adventures")</li>
                        }
                        else
                        {
                            <li></li>
                        }

                        <li>@Html.ActionLink("Missions", "Index", "Missions")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Zombiecalypse</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    @if (User.Identity.IsAuthenticated)
    {

        int i = 0;

        <script>
            var FieldFinishDate = [];
            var FieldID = [];
            var AttackingZombieFinishDate = [];
            var ZombieAttackBaseID = [];
        </script>
        for (var a = 0; a < Model.Fields.ToArray().Length; a++)
        {
            <script>
                var date = new Date(@Model.Fields.ToArray()[i].FinishDate.Year, @Model.Fields.ToArray()[i].FinishDate.Month -1, @Model.Fields.ToArray()[i].FinishDate.Day, @Model.Fields.ToArray()[i].FinishDate.Hour, @Model.Fields.ToArray()[i].FinishDate.Minute, @Model.Fields.ToArray()[i].FinishDate.Second, 0);
                FieldFinishDate.push(date)
                FieldID.push(@Model.Fields.ToArray()[i].CharacterFieldID)
            </script>
            { i += 1; }
        }

        int j = 0;

        for (var a = 0; a < Model.AttackingZombies.ToArray().Length; a++)
        {
            <script>
                var date = new Date(@Model.AttackingZombies.ToArray()[j].ZombieAttackStart.Year, @Model.AttackingZombies.ToArray()[j].ZombieAttackStart.Month -1, @Model.AttackingZombies.ToArray()[j].ZombieAttackStart.Day, @Model.AttackingZombies.ToArray()[j].ZombieAttackStart.Hour, @Model.AttackingZombies.ToArray()[j].ZombieAttackStart.AddMinutes(2).Minute, @Model.AttackingZombies.ToArray()[j].ZombieAttackStart.Second, 0);
                AttackingZombieFinishDate.push(date)
                ZombieAttackBaseID.push(@Model.AttackingZombies.ToArray()[j].ZombieAttackBaseID)
            </script>
            { j += 1; }
        }


        <script>
            var PageUrl= "@Model.PageUrl";
            var UserName = "@Model.UserKe";
            var EnergyPlusDate = new Date(@Model.EnergyPlusDate.Year, @Model.EnergyPlusDate.Month -1, @Model.EnergyPlusDate.Day, @Model.EnergyPlusDate.Hour, @Model.EnergyPlusDate.Minute, @Model.EnergyPlusDate.Second, 0);
            var AdventureFinishDate = new Date(@Model.AdventureFinishDate.Year, @Model.AdventureFinishDate.Month -1, @Model.AdventureFinishDate.Day, @Model.AdventureFinishDate.Hour, @Model.AdventureFinishDate.Minute, @Model.AdventureFinishDate.Second, 0);
            var PageUrl = "@Model.PageUrl";
            var LastZombieStartAttack = new Date(@Model.LastZombieAttackDate.Year, @Model.LastZombieAttackDate.Month -1, @Model.LastZombieAttackDate.Day, @Model.LastZombieAttackDate.Hour, @Model.LastZombieAttackDate.Minute, @Model.LastZombieAttackDate.Second, 0);
            var EndOfExplore = new Date(@Model.EndOfExplore.Year, @Model.EndOfExplore.Month -1, @Model.EndOfExplore.Day, @Model.EndOfExplore.Hour, @Model.EndOfExplore.Minute, @Model.EndOfExplore.Second, 0);
            var DailyMissionDate = new Date(@Model.DailyMissionDate.Year, @Model.DailyMissionDate.Month -1, @Model.DailyMissionDate.Day, @Model.DailyMissionDate.Hour, @Model.DailyMissionDate.Minute, @Model.DailyMissionDate.Second, 0);
            var IsYourTurn = "@Model.Character.isYourTurn";
            var IsOnAdventure = "@Model.Character.IsOnAdventure";
         </script>

        <script src="~/Scripts/app/Counters.js" type="text/javascript"></script>

    }
</body>
</html>