@model Zombiecalypse.Models.PlantOnField

@{
    ViewBag.Title = "ChoosePlantOnField";
}

<h2>PlantOnField</h2>

<div>
    <h4>ChoosePlantOnField</h4>
    <hr />
    <dl class="dl-horizontal">

        @*<dd>
        @Html.DisplayFor(model => model.ItemName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ItemType)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ItemType)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ItemPicture)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ItemPicture)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ItemDurability)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ItemDurability)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PlantFieldId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PlantFieldId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.IsFieldEmpty)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IsFieldEmpty)
    </dd>*@
        <dd>
            <table  class="table">
                <tr>
                    <td>ItemID</td>
                    <td>ItemName</td>
                    <td>PlantTime</td>
                    <td>PlantRewardFood</td>
                    <td>PlantRewardCoin</td>
                    <td>PlantCostCoin</td>
                    <td>Pieces</td>
                </tr>

                @foreach (var plant in Model.Plants)
                {
                    foreach (var item in Model.Inventory)
                    {
                        if (plant.ItemID == item.ItemID && item.ItemPieces>0)
                        {
                            <tr>
                                <td>@plant.ItemID</td>
                                <td>@plant.ItemName</td>
                                <td>@plant.GrowTime</td>
                                <td>@plant.PlantRewardFood</td>
                                <td>@plant.PlantRewardCoin</td>
                                <td>@plant.ItemCost</td>
                                <td>@item.ItemPieces</td>
                                <td>@Html.ActionLink("Plant " + @plant.ItemName, "PlantOnField", "Plants", new { InvID = Model.FieldID, plantID = @plant.ItemID }, null)</td>
                            </tr>
                        }
                    }
                }
            </table>
        </dd>

    </dl>
</div>
