@model Zombiecalypse.Models.Plant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemMaxDurability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemMaxDurability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantMoneyCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantMoneyCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantGrowTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantGrowTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantRewardCoin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantRewardCoin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantRewardFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantRewardFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantStartPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantStartPicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantFinishedPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantFinishedPicture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
