@model IEnumerable<Zombiecalypse.ViewModels.RegistrationViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxEnergy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentEnergy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterXP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxEnergy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentEnergy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterXP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegistrationViewModelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegistrationViewModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegistrationViewModelID })
        </td>
    </tr>
}

</table>
