@model Zombiecalypse.Models.MissionVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Missions</h3>

<div>

    <div id="missionCounter"></div>

    @Html.ActionLink("Start zombie attack1", "ZombieStartAttackBase", "Missions", new { id = 1, userID = User.Identity.Name }, null) <br />
    @Html.ActionLink("Start zombie attack2", "ZombieStartAttackBase", "Missions", new { id = 2, userID = User.Identity.Name }, null) <br />
    <br />
    <br />
    @Html.ActionLink("GenerateDailyMissions", "GenerateDailyMissions", "api/Default", null, null) <br />

    @Html.ActionLink("CheckMission", "CheckMission", "Missions", new { id = 3, userID = User.Identity.Name}, null)<br />


    @*@foreach (var sm in Model.Missions)
        {

            @Html.ActionLink("Start Mission" + sm.MissionID, "StartMission", "Missions", new { id = sm.MissionID, userID = User.Identity.Name }, null) <br />
        }*@


</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#daily">Daily missions</a></li>
        <li><a data-toggle="tab" href="#story">Story missions</a></li>
        <li><a data-toggle="tab" href="#side">Side missions</a></li>
    </ul>
</div>

<div class="tab-content">
    <div id="daily" class="tab-pane fade in active">

        <br />
        <div>
            @foreach (var inprogressmission in Model.InProgressMissions)
            {
                foreach (var mission in Model.Missions.Where(x => x.GetType().Name == "DailyMission"))
                {
                    if (mission.MissionID == inprogressmission.MissionID)
                    {
                        <table class="table missiontable">
                            <tr>
                                <td>
                                    @mission.MissionName
                                </td>
                                <td>
                                    @inprogressmission.CharacterMissionID
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @foreach (var charTask in inprogressmission.CharacterMissionTasks)
                                    {
                                        foreach (var task in mission.MissionTasks)
                                        {
                                            if (charTask.MissionTaskID == task.MissionTaskID)
                                            {

                                                if (task.GetType().Name == "KillingMissionTask")
                                                {
                                                    if (task.ItemID == 0)
                                                    {
                                                        Zombie zombie = Model.Zombies.FirstOrDefault();
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <img width="30" height="30" src=@zombie.ZombiePicture />
                                                                </td>
                                                                <td>
                                                                    @task.TaskText
                                                                </td>
                                                                @if (charTask.TaskProgress >= task.ItemPieces)
                                                                {
                                                                    <td>
                                                                        <img width="25" height="25" src="~/Content/Pictures/check.png" />
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        @charTask.TaskProgress / @task.ItemPieces
                                                                    </td>
                                                                }
                                                            </tr>
                                                        </table>
                                                    }
                                                }


                                                if (task.GetType().Name == "HarvestMissionTask")
                                                {
                                                    if (task.ItemID == 0)
                                                    {
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <img width="30" height="30" src="~/Content/Pictures/Fields/FieldEmpty.png" />
                                                                </td>
                                                                <td>
                                                                    @task.TaskText
                                                                </td>
                                                                @if (charTask.TaskProgress >= task.ItemPieces)
                                                                {
                                                                    <td>
                                                                        <img width="25" height="25" src="~/Content/Pictures/check.png" />
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        @charTask.TaskProgress / @task.ItemPieces
                                                                    </td>
                                                                }
                                                            </tr>
                                                        </table>
                                                    }
                                                }

                                                if (task.GetType().Name == "AdventureMissionTask")
                                                {
                                                    if (task.ItemID == 0)
                                                    {
                                                        <table class="table">
                                                            <tr>
                                                                <td>
                                                                    <img width="30" height="30" src="~/Content/Pictures/Adventures/checkPoint.png" />
                                                                </td>
                                                                <td>
                                                                    @task.TaskText
                                                                </td>
                                                                @if (charTask.TaskProgress >= task.ItemPieces)
                                                                {
                                                                    <td>
                                                                        <img width="25" height="25" src="~/Content/Pictures/check.png" />
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        @charTask.TaskProgress / @task.ItemPieces
                                                                    </td>
                                                                }
                                                            </tr>
                                                        </table>
                                                    }
                                                }

                                                else
                                                {

                                                    foreach (var item in Model.Items)
                                                    {
                                                        if (item.ItemID == task.ItemID)
                                                        {
                                                            <table class="table">
                                                                <tr>
                                                                    <td>
                                                                        <img width="30" height="30" src=@item.ItemPicture />
                                                                    </td>
                                                                    <td>
                                                                        @task.TaskText
                                                                    </td>
                                                                    @if (charTask.TaskProgress >= task.ItemPieces)
                                                                    {
                                                                        <td>
                                                                            <img width="25" height="25" src="~/Content/Pictures/check.png" />
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            @charTask.TaskProgress / @task.ItemPieces
                                                                        </td>
                                                                    }

                                                                </tr>
                                                            </table>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="missionRewardTable" style="">
                                    Reward: <br />
                                    @mission.RewardICoins <img src="~/Content/Pictures/Coin.png" /><br />
                                    @mission.RewardXP XP
                                </td>
                            </tr>
                            <tr>

                                @if (mission.RequiredLevel > Model.Character.CharacterLevel)
                        {
                                    <td class="alert alert-danger">
                                        <strong>Required level: @mission.RequiredLevel</strong>
                                    </td>
                                }
                                else
                                {
                                    if (inprogressmission.IsCompleted)
                                    {
                                        <td>
                                            @Html.ActionLink("Finish" + inprogressmission.CharacterMissionID, "GetReward", "Missions", new { id = inprogressmission.CharacterMissionID }, new { @class = "ActionLinkButton" })
                                        </td>

                                    }
                                    else
                                    {
                                        <td class="alert alert-danger">
                                            <strong>Not finished!</strong>
                                        </td>
                                    }
                                }

                            </tr>
                        </table>
                        <br />
                    }

                }
            }
        </div>

    </div>


    <div id="story" class="tab-pane fade">

        <div>
            <br />

            @foreach (var inprogressmission in Model.InProgressMissions)
            {
                foreach (var mission in Model.Missions.Where(x => x.GetType().Name == "StoryMission"))
                {
                    if (mission.MissionID == inprogressmission.MissionID)
                    {
                        <table class="table missiontable">
                            <tr>
                                <td>
                                    @mission.MissionName
                                </td>
                                <td>
                                    @inprogressmission.CharacterMissionID
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @foreach (var charTask in inprogressmission.CharacterMissionTasks)
                                    {
                                        foreach (var task in mission.MissionTasks)
                                        {
                                            if (charTask.MissionTaskID == task.MissionTaskID)
                                            {

                                                if (task.GetType().Name == "KillingMissionTask")
                                                {
                                                    foreach (var zombie in Model.Zombies)
                                                    {
                                                        if (zombie.ZombieID == task.ItemID)
                                                        {
                                                            <table class="table">
                                                                <tr>
                                                                    <td>
                                                                        <img width="30" height="30" src=@zombie.ZombiePicture />
                                                                    </td>
                                                                    <td>
                                                                        @task.TaskText
                                                                    </td>
                                                                    @if (charTask.TaskProgress >= task.ItemPieces)
                                                                    {
                                                                        <td>
                                                                            <img width="25" height="25" src="~/Content/Pictures/check.png" />
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            @charTask.TaskProgress / @task.ItemPieces
                                                                        </td>
                                                                    }
                                                                </tr>
                                                            </table>
                                                        }
                                                    }

                                                }

                                                else
                                                {

                                                    foreach (var item in Model.Items)
                                                    {
                                                        if (item.ItemID == task.ItemID)
                                                        {
                                                            <table class="table">
                                                                <tr>
                                                                    <td>
                                                                        <img width="30" height="30" src=@item.ItemPicture />
                                                                    </td>
                                                                    <td>
                                                                        @task.TaskText
                                                                    </td>
                                                                    @if (charTask.TaskProgress >= task.ItemPieces)
                                                                    {
                                                                        <td>
                                                                            <img width="25" height="25" src="~/Content/Pictures/check.png" />
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            @charTask.TaskProgress / @task.ItemPieces
                                                                        </td>
                                                                    }

                                                                </tr>
                                                            </table>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="missionRewardTable">
                                    Reward: <br />
                                    @mission.RewardICoins <img src="~/Content/Pictures/Coin.png" /><br />
                                    @mission.RewardXP XP
                                </td>
                            </tr>
                            <tr>

                                @if (mission.RequiredLevel > Model.Character.CharacterLevel)
                        {
                                    <td class="alert alert-danger">
                                        <strong>Required level: @mission.RequiredLevel</strong>
                                    </td>
                                }
                                else
                                {
                                    if (inprogressmission.IsCompleted)
                                    {
                                        <td>
                                            @Html.ActionLink("Finish" + inprogressmission.CharacterMissionID, "GetReward", "Missions", new { id = inprogressmission.CharacterMissionID }, new { @class = "ActionLinkButton" })
                                        </td>

                                    }
                                    else
                                    {
                                        <td class="alert alert-danger">
                                            <strong>Not finished!</strong>
                                        </td>
                                    }
                                }

                            </tr>
                        </table>
                        <br />
                    }
                }
            }
        </div>


    </div>


    <div id="side" class="tab-pane fade">
        <div>

            <div>
                @if (Model.InProgressMissions.Where(x => x.MissionID == 15).Count() == 0)
                {
                    @Html.ActionLink("Start Who's the Boss I", "StartMission", "Missions", new { id = 15, userID = User.Identity.Name }, new { @class = "ActionLinkButton" }) <br />
                }
                <br />
                @if (Model.InProgressMissions.Where(x => x.MissionID == 20).Count() == 0)
                {
                    @Html.ActionLink("Start Winter is coming I", "StartMission", "Missions", new { id = 20, userID = User.Identity.Name }, new { @class = "ActionLinkButton" }) <br />
                }

            </div>
            <br />
            @foreach (var inprogressmission in Model.InProgressMissions)
            {
                foreach (var mission in Model.Missions.Where(x => x.GetType().Name == "SideMission"))
                {
                    if (mission.MissionID == inprogressmission.MissionID)
                    {
                        <table class="table missiontable">
                            <tr>
                                <td>
                                    @mission.MissionName
                                </td>
                                <td>
                                    @inprogressmission.CharacterMissionID
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @foreach (var charTask in inprogressmission.CharacterMissionTasks)
                                    {
                                        foreach (var task in mission.MissionTasks)
                                        {
                                            if (charTask.MissionTaskID == task.MissionTaskID)
                                            {

                                                if (task.GetType().Name == "KillingMissionTask")
                                                {
                                                    foreach (var zombie in Model.Zombies)
                                                    {
                                                        if (zombie.ZombieID == task.ItemID)
                                                        {
                                                            <table class="table">
                                                                <tr>
                                                                    <td>
                                                                        <img width="30" height="30" src=@zombie.ZombiePicture />
                                                                    </td>
                                                                    <td>
                                                                        @task.TaskText
                                                                    </td>
                                                                    @if (charTask.TaskProgress >= task.ItemPieces)
                                                                    {
                                                                        <td>
                                                                            <img width="25" height="25" src="~/Content/Pictures/check.png" />
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            @charTask.TaskProgress / @task.ItemPieces
                                                                        </td>
                                                                    }
                                                                </tr>
                                                            </table>
                                                        }
                                                    }

                                                }

                                                else
                                                {

                                                    foreach (var item in Model.Items)
                                                    {
                                                        if (item.ItemID == task.ItemID)
                                                        {
                                                            <table class="table">
                                                                <tr>
                                                                    <td>
                                                                        <img width="30" height="30" src=@item.ItemPicture />
                                                                    </td>
                                                                    <td>
                                                                        @task.TaskText
                                                                    </td>
                                                                    @if (charTask.TaskProgress >= task.ItemPieces)
                                                                    {
                                                                        <td>
                                                                            <img width="25" height="25" src="~/Content/Pictures/check.png" />
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            @charTask.TaskProgress / @task.ItemPieces
                                                                        </td>
                                                                    }

                                                                </tr>
                                                            </table>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="missionRewardTable">
                                    Reward: <br />
                                    @mission.RewardICoins <img src="~/Content/Pictures/Coin.png" /><br />
                                    @mission.RewardXP XP
                                </td>
                            </tr>
                            <tr>

                                @if (mission.RequiredLevel > Model.Character.CharacterLevel)
                                {
                                    <td class="alert alert-danger">
                                        <strong>Required level: @mission.RequiredLevel</strong>
                                    </td>
                                }
                                else
                                {
                                    if (inprogressmission.IsCompleted)
                                    {
                                        <td>
                                            @Html.ActionLink("Finish" + inprogressmission.CharacterMissionID, "GetReward", "Missions", new { id = inprogressmission.CharacterMissionID }, new { @class = "ActionLinkButton" })
                                        </td>

                                    }
                                    else
                                    {
                                        <td class="alert alert-danger">
                                            <strong>Not finished!</strong>
                                        </td>
                                    }
                                }

                            </tr>
                        </table>
                        <br />
                    }

                }
            }
        </div>
    </div>

</div>
