@model Zombiecalypse.Models.PlantOnFieldVM


<h2>Choose plant</h2>

<div>

    <dl class="dl-horizontal">


        <table border="1">

            @foreach (var plant in Model.Plants)
            {
                foreach (var item in Model.Inventory)
                {
                    if (plant.ItemID == item.ItemID && item.ItemPieces > 0)
                    {
                        <td>
                            <table border="1">
                                <tr>
                                <td><img src=@plant.ItemPicture /></td>
                                <tr></tr>
                                <td>@plant.ItemName</td>
                                <tr></tr>
                                <td>grow time: @plant.PlantGrowTime</td>
                                <tr></tr>
                                <td>reward food: @plant.PlantRewardFood</td>
                                <tr></tr>
                                <td> reward coin: @plant.PlantRewardCoin</td>
                                <tr></tr>
                                <td>pieces: @item.ItemPieces</td>
                                <tr></tr>
                                <td>@Html.ActionLink("Plant " + @plant.ItemName, "PlantOnField", "Gathering", new { fieldID = Model.FieldID, plantID = @plant.ItemID }, new { @class = "ActionLinkButton" })</td>
                                </tr>
                            </table>
                        </td>
                    }
                }
            }
        </table>
    </dl>
</div>
<div>
    <br />
    @Html.ActionLink("Back to base", "Details", "Characters", new { id = User.Identity.Name }, new { @class = "ActionLinkButton" })
</div>