@model Zombiecalypse.Models.BaseDefenseFromZombiesVM

@{

}

<div>
    <h3>Base defense from @Model.Zombie.ZombieName zombie</h3>
    <hr />

    <div>
        <table align="center">
            <tr>
                <td>
                    <img src=@Model.Zombie.ZombiePicture />
                </td>
            </tr>
            <tr>
                <td>
                    @Model.Zombie.ZombieName zombie
                </td>
            </tr>
            <tr>
                <td>
                    <img width="25" height="25" src="~/Content/Pictures/life.png" />: @Model.ZombieAttackBase.ZombieLife / @Model.Zombie.ZombieLife
                </td>
            </tr>
            <tr>
                <td> <img width="25" height="25" src="~/Content/Pictures/damage.png" />:@Model.Zombie.ZombieDamage</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>

    </div>

    <table align="center" cellspacing="150">
        <tr>
            @foreach (var item in Model.Character.Inventory)
            {
                if (item.ItemID == 59)
                {
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <img src=@item.Item.ItemPicture />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @item.Item.ItemName
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    durability: @item.ItemCurrentDurability / @item.ItemMaxDurability
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.ActionLink("Attack with " + item.Item.ItemName, "BaseDefenseFromZombie", "Zombies", new { ZabID = Model.ZombieAttackBase.ZombieAttackBaseID, AttackPower = 1, invID = item.InventoryID }, new { @class = "ActionLinkButton" })
                                </td>
                            </tr>
                        </table>
                    </td>
                }
            }


            @foreach (var weap in Model.BuyableWeapons)
            {
                foreach (var item in Model.Character.Inventory)
                {
                    if (item.ItemID == weap.ItemID && item.ItemPieces > 0)
                    {
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <img src=@item.Item.ItemPicture />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @item.Item.ItemName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        durability: @item.ItemCurrentDurability / @item.ItemMaxDurability
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.ActionLink("Attack with " + item.Item.ItemName, "BaseDefenseFromZombie", "Zombies", new { ZabID = Model.ZombieAttackBase.ZombieAttackBaseID, AttackPower = weap.WeaponDamage, invID = item.InventoryID }, new { @class = "ActionLinkButton" })
                                    </td>
                                </tr>
                            </table>
                        </td>
                    }
                }
            }

            @foreach (var weap in Model.CraftableWeapons)
            {
                foreach (var item in Model.Character.Inventory)
                {
                    if (item.ItemID == weap.ItemID && item.ItemPieces > 0)
                    {
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <img src=@item.Item.ItemPicture />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @item.Item.ItemName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        durability: @item.ItemCurrentDurability / @item.ItemMaxDurability
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.ActionLink("Attack with " + item.Item.ItemName, "BaseDefenseFromZombie", "Zombies", new { ZabID = Model.ZombieAttackBase.ZombieAttackBaseID, AttackPower = weap.WeaponDamage, invID = item.InventoryID }, new { @class = "ActionLinkButton" })
                                    </td>
                                </tr>
                            </table>
                        </td>
                    }
                }
            }


        </tr>
    </table>
    <div>
        @Html.ActionLink("Back to base", "Details", "Characters", new { id = User.Identity.Name }, new { @class = "ActionLinkButton" })
    </div>


</div>