@model Zombiecalypse.Models.Zombie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zombie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZombieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZombieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZombieType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZombieType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZombieLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZombieLife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZombieDamage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZombieDamage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RewardCoins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RewardCoins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RewardXP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RewardXP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZombieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
