@model IEnumerable<Zombiecalypse.Models.Zombie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ZombieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZombieType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZombieLife)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZombieDamage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RewardCoins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RewardXP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ZombieName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZombieType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZombieLife)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZombieDamage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RewardCoins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RewardXP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ZombieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ZombieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ZombieID })
        </td>
    </tr>
}

</table>
