@model Zombiecalypse.Models.ZombieAttackBaseVM

@{
    ViewBag.Title = "ZombieAttackBase";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2>ZombieAttackBase</h2>

<div>
    <h4>ZombieAttackBase</h4>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var build in @Model.Buildings) {
            <tr>
                <td>
                   name: @build.ItemName
                </td>
                <td>
                   level: @build.BuildingLevel
                </td>
            </tr>

        }
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Character.CharacterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character.CharacterID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character.CharacterName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.CharacterName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZombieAttackBase.ZombieAttackStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZombieAttackBase.ZombieAttackStart)
        </dd>
</div>