@model Zombiecalypse.Models.ZombieAttackBaseVM

@{
    ViewBag.Title = "ZombieAttackBase";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2>ZombieAttackBase</h2>

random: @ViewBag.random <br />
  destroyedBuilding:         @ViewBag.destroyedBuilding.ItemName, @ViewBag.ItemCurrentDurability <br />
  buildingLevel:          @ViewBag.buildingLevel<br />
  newBuildingLevel          @ViewBag.newBuildingLevel<br />
count: @ViewBag.count<br />
attackPower: @ViewBag.AttackPower <br />
<div>
    <h4>ZombieAttackBase</h4>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var build in @Model.Buildings) {
            <tr>
                <td>
                   name: @build.ItemName
                </td>
                <td>
                   level: @build.BuildingLevel
                </td>
            </tr>

        }
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Character.CharacterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character.CharacterID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character.CharacterName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.CharacterName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZombieAttackBase.ZombieAttackStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZombieAttackBase.ZombieAttackStart)
        </dd>
        <br />
        <br />
        @*You are attacked by:
        <dt>
            @Html.DisplayNameFor(model => model.Zombie.ZombiePicture)
        </dt>

        <dd>
            <img src=@Model.Zombie.ZombiePicture />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zombie.ZombieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zombie.ZombieName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZombieLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZombieLife)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zombie.ZombieDamage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zombie.ZombieDamage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zombie.RewardCoins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zombie.RewardCoins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zombie.RewardXP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zombie.RewardXP)
        </dd>*@

        @*<h4>Items</h4>
        <dd>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>BuildingLevel</th>
                    <th>ItemPieces</th>
                    <th>ItemMaxDurability</th>
                    <th>ItemCurrentDurability</th>
                    <th>Picture</th>
                </tr>
                @foreach (var building in Model.Buildings)
                {
                    foreach (var inv in Model.Character.Inventory)
                    {
                        if (inv.ItemID == building.ItemID)
                        {

                            <tr>
                                <td>
                                    @inv.ItemID
                                </td>
                                <td>
                                    @inv.Item.ItemName
                                </td>
                                <td>
                                    @inv.Item.ItemType
                                </td>
                                <td>
                                    @building.BuildingLevel
                                </td>
                                <td>
                                    @inv.ItemPieces
                                </td>
                                <td>
                                    @inv.ItemMaxDurability
                                </td>
                                <td>
                                    @inv.ItemCurrentDurability
                                </td>
                                <td>
                                    <img src=@inv.Item.ItemPicture />
                                </td>
                                <td>
                                        @Html.ActionLink("Attack with " + @weap.ItemName, "ZombieAttackBase", new { ZabID = @Model.ZombieAttackBaseID}, null)
                                    </td>
                            </tr>
                        }
                    }

                }

            </table>
        </dd>

        <br />*@


        @*<button onclick="startCountDown()">Start</button></br>

        counter:
        <span id="demo"></span></br>
        now:
        <span id="demo2"></span></br>
        until:
        <span id="demo3"></span></br>*@


          @*<script>
                var Year = @Model.ZombieAttackStart.Year;
                var Month = @Model.ZombieAttackStart.Month;
                var Day = @Model.ZombieAttackStart.Day;
                var Hour = @Model.ZombieAttackStart.Hour;
                var Minute = @Model.ZombieAttackStart.Minute;
                var Second = @Model.ZombieAttackStart.AddSeconds(5).Second;

                var ChId = @Model.CharacterID;
                var ZombId = 1;
                var zabID = @Model.ZombieAttackBaseID;
                var FinishDate =  new Date(Year, Month-1, Day, Hour, Minute, Second, 0);

            </script>
            <script src="~/Scripts/app/zombieBaseAttack.js" type="text/javascript"></script>*@
    </dl>
</div>