@model Zombiecalypse.Models.Building

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Building</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemPicture)
        </dt>
        <dd>
            <img  src="@Model.ItemPicture" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildingLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildingBuildingMaterials)
        </dt>
        <dd>
            <table>
                <th>ItemID</th>
                <th>ItemName</th>
                <th>ItemPieces</th>
                <th></th>
                @foreach (var material in Model.BuildingBuildingMaterials)
                {
                    <tr>
                    <td>
                        @material.ItemID
                    </td>
                    <td>
                        @material.ItemName
                    </td>
                    <td>
                        @material.MaterialPieces
                    </td>

                        </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
