@model Zombiecalypse.Models.BuildingDetailViewModel

@{
    ViewBag.Title = "Details";

    var inventoryItem = Model.Character.Inventory.Where(x => x.ItemID == Model.Building.ItemID).FirstOrDefault();
    var durability = 0;

    if (inventoryItem.ItemCurrentDurability != 0 && Model.Building.ItemMaxDurability != 0)
    {
        durability = ((inventoryItem.ItemCurrentDurability * 100) / Model.Building.ItemMaxDurability);
    }
}

<div>
    <h4>@Html.DisplayFor(model => model.Building.ItemName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <table>
            <tr>
                <td>
                    <img src="@Model.Building.ItemPicture" />
                </td>
                @if (Model.Building.BuildingLevel > 0)
                {
                    <td>
                        <table align="left">
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => Model.Character.Inventory.Where(x => x.ItemID == Model.Building.ItemID).FirstOrDefault().ItemCurrentDurability)
                                    <div class="container" style="width:300px;">
                                        <div class="rating-num">
                                            @Model.Building.ItemMaxDurability / @inventoryItem.ItemCurrentDurability
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@Model.Building.ItemMaxDurability" aria-valuemin="0" aria-valuemax="100" style="width: @durability%"></div>
                                            </div>
                                            @if (Model.Building.ItemMaxDurability > inventoryItem.ItemCurrentDurability)
                                            {
                                                @Html.ActionLink("Repair", "SetLasLoginMinusHour", "Characters", new { id = User.Identity.Name }, new { @class = "ActionLinkButton" })
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Building.BuildingLevel): @Html.DisplayFor(model => model.Building.BuildingLevel)
                                </td>
                            </tr>
                        </table>
                    </td>
                }
            </tr>
        </table>

        @if (Model.Building.BuildingLevel > 0)
        {
            <dd>
                <div>Craftable weapons</div>
                <table border="1">
                    <tr>
                        @foreach (var weapon in Model.CraftableWeapons)
                        {
                            <td>
                                <table>
                                    <td>
                                        <img src=@weapon.ItemPicture />
                                    </td>
                                    <tr></tr>
                                    <td>
                                        @weapon.ItemID
                                    </td>
                                    <tr></tr>
                                    <td>
                                        @weapon.ItemName
                                    </td>
                                    <tr></tr>
                                    <td>
                                        @weapon.ItemMaxDurability
                                    </td>
                                    <tr></tr>
                                    <td>
                                        @weapon.WeaponDamage
                                    </td>
                                    <tr></tr>
                                    <td>

                                        <table border="1">
                                            <tr>
                                                <td>MaterialID</td>
                                                <td>ItemID</td>
                                                <td>MaterialPieces</td>
                                            </tr>
                                            @foreach (var mat in Model.ComponentOfCraftableWeapon)
                                            {
                                                foreach (var item in Model.Character.Inventory)
                                                {
                                                    if (mat.WeaponID == weapon.ItemID && mat.MaterialID != Model.Building.ItemID && item.ItemID == mat.MaterialID)
                                                    {
                                                        var material = Model.Materials.Where(x => x.ItemID == mat.MaterialID).FirstOrDefault();
                                                        {

                                                            <tr>
                                                                <td>
                                                                    <img width="30px" height="30px" src=@material.ItemPicture />
                                                                </td>
                                                                <td>
                                                                    @material.ItemName
                                                                </td>
                                                                <td>
                                                                    @item.ItemPieces / @mat.MaterialPieces
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }

                                        </table>

                                    </td>
                                    <tr></tr>
                                    <td>@Html.ActionLink("Craft weapon", "CraftWeapon", "Inventories", new { WeaponId = weapon.ItemID }, new { @class = "ActionLinkButton" })</td>
                                </table>
                            </td>

                        }
                    </tr>
                </table>
            </dd>
        }



        <dd>
            <br />
            <div>Required materials to the building</div>
            <table>
                <tr>
                    @foreach (var bbm in Model.NextBuildingBuildingMaterials)
                    {
                        foreach (var bm in Model.NextBuildingMaterials)
                        {
                            foreach (var item in Model.Character.Inventory)
                            {

                                if (bbm.BuildingMaterialID == bm.ItemID && bm.ItemID == item.ItemID)
                                {
                                    <td>
                                        <table border="1">
                                            <td>
                                                <img src=@bm.ItemPicture />
                                            </td>
                                            <tr></tr>
                                            <td>
                                                @bm.ItemName
                                            </td>
                                            <tr></tr>
                                            <td>
                                                @item.ItemPieces of @bbm.MaterialPieces piece(s)
                                            </td>
                                            <tr></tr>
                                        </table>
                                    </td>
                                }
                            }
                        }
                    }
                </tr>
            </table>
            @if (Model.Building.BuildingLevel > 0)
            {
                @Html.ActionLink("Level up building", "LevelUpBuilding", "Inventories", new { id = inventoryItem.InventoryID }, new { @class = "ActionLinkButton" })
            }
            else
            {
                @Html.ActionLink("Build " +Model.Building.ItemName, "LevelUpBuilding", "Inventories", new { id = inventoryItem.InventoryID }, new { @class = "ActionLinkButton" })
            }

        </dd>
        <div>
            @Html.ActionLink("Back to base", "Details", "Characters", new { id = User.Identity.Name }, new { @class = "ActionLinkButton" })
        </div>
    </dl>
</div>