@model Zombiecalypse.Models.BuildingDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Building</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.ItemPicture)
        </dt>

        <dd>
            <img src="@Model.Building.ItemPicture" />
         
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.ItemMaxDurability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.ItemMaxDurability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.BuildingLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingEnergyCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.BuildingEnergyCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingMoneyCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.BuildingMoneyCost)
        </dd>
        <br />
        <br />

        <table>
            @foreach (var bbm in Model.BuildingBuildingMaterials)
            {
                foreach (var bm in Model.BuildingMaterials)
                {
                    if (bbm.BuildingMaterialID == bm.ItemID)
                    {
                        <tr>
                            <td>
                                @bbm.BuildingID
                            </td>
                            <td>
                                @bm.ItemName
                            </td>
                            <td>
                                @bm.ItemPicture
                            </td>
                            <td>
                                @bbm.BuildingMaterialID
                            </td>
                            <td>
                                @bbm.MaterialPieces
                            </td>
                        </tr>
                    }
                }
            }
        </table>




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Building.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
